package ${package}.biz;

import ${package}.entity.${className};
import ${package}.repsitory.${className}Repsitory;
import com.qiyue.common.biz.BaseBiz;
import org.springframework.data.domain.Page;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class  ${className}Biz  extends BaseBiz<${className}Repsitory, ${className}, Long>{

}